.header-simple-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 30px;
  height: 12vh;
  border-bottom: 2px solid #cf9f59;
  box-sizing: border-box;
}

.header-simple-logo {
  height: 69px;
  cursor: pointer;
  margin-left: 64px;
}

.header-simple-buttons {
  display: flex;
  gap: 20px;
  margin-right: 40px;
}

.header-simple-button {
  padding: 0.5em 1em;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid #125961;
  border-radius: 8px;
  background-color: #cf9f59;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.header-simple-button:hover {
  background-color: #125961;
  color: #cf9f59;
}
