.ezstart-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; /* Menor separación entre columnas */
    padding: 2rem;
    background-color: white;
    min-height: 80vh;
    justify-items: center;
  }
  
  .ezstart-box {
    width: 100%;
    max-width: 450px;
    height: 180px;
    background-size: cover;
    background-position: center;
    border: 2.5px solid #125961;
    border-radius: 12px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
  }
  
  .ezstart-box:hover {
    background-color: #cf9f59;
    transform: scale(1.02);
  }
  
  .ezstart-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(18, 89, 97, 0.85);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.5px;
    transition: color 0.3s ease;
  }
  
  .ezstart-box:hover .ezstart-title {
    color: #125961;
    background: #cf9f59;
  }
  